@charset "utf-8";

.index-background{
	background-repeat:no-repeat; 
	background-attachment:fixed; 
	background-position: center; 
	background-size:100% 100%;
}

.navbar-shadow{
	box-shadow: 0 5px 10px #23292f; 
	background-color: #fafafa; 
}

.navbar-title{
	font-family: Arial; 
	font-size: 19px;
	color: #2b426e;
}

.navbar-subtitle{
	font-size: 16px;
	color: #1b1f22;
}

.scrollbar{
    width: 100%;
    height: 300px;
    margin: 0 auto;
}

.content-box{
	width: 90%; 
	margin:0 auto; 
	background-color: rgba(0,0,0,0.7);
}

.content{
	width: 95%; margin:0 auto;
}

.center{
	text-align: center;
}

.login-table{
	margin:0 auto; 
	border-spacing: 100px;
	width: 90%;
}

.login-table-left{
	background-color: #90bae4;
	padding: 20px;
}

.login-table-right{
	background-color: #6e96bf;
	padding: 30px;
}

.login-title{
	font-size: 30px;
	font-weight: 700;
}

.login-subtitle{
	font-size: 20px;
	font-weight: 450;
}

.login-text{
	font-size: 20px;
	font-weight: 450;
	color: white;
}

.login-hr{
	background-color: black;
}

.full-width{
	width: 100%;
}

.main-icon{
	color: white; 
	font-size: 70px;
}

.main-font{
	color: white; 
	font-size: 20px;
}

.view-table{
	background-color: rgba(255,255,255,0.8);
}

.view-table-head{
	line-height: 50px !important;
}

.view-table-td{
	line-height: 30px !important;
}

.search-table{
	margin:0 auto; 
	border-spacing: 100px;
	width: 90%;
	background-color: #a1a1a1;
	padding: 20px;
}

.search-table-td{
	padding: 20px;
}